services:
  xampp:
    platform: linux/x86_64
    build: .
    ports:
      - "41062:80"
      - "41061:22"
    volumes:
      - ./my_web_pages:/www
      
  
  achecker:
    platform: linux/x86_64
    image: pixelandpen/achecker
    ports:
      - "8000:80"
      - "3307:3306"

    
