
@media only screen and (max-width:760px) {
}

.navbar-toggler-icon {
    border-color: transparent;
}

nav img{
    width: 8vw;
    vertical-align: middle;
}

nav #profileImage {
    border-radius: 100%;
    width: 10vw;
}

#back {
    width: 5vw;
}