body {
  display: flex;
  flex-direction: column;
}

.btn {
  border-color: black;
  background-color: lightgray;
}

.stats {
  color: lightgray;
  text-decoration: none;
  font-size: x-small;
}

#profileImage {
  vertical-align: middle;
  width: 20vw;
  height: 20vw;
  border-radius: 100%;
}

#profileBtn {
  color: rgba(43, 43, 43, 255);
  padding: 0vw 4vw;
  border-color: rgba(49, 51, 53, 255);
}
