body {
    display: flex;
    flex-direction: column;
}

.btn {
    border-color: black;
    background-color: lightgray;
}

.followButton {
    color: black;
    text-decoration: none;
    font-size: x-small;
}

.logo {
    width: 8vw;
    vertical-align: middle;
}

#profileImage {
    vertical-align: middle;
    width: 20vw;
    height: 20vw;
    border-radius: 100%;
}

