.btn {
  color: lightgray;
  background-color: rgba(181, 110, 34, 255);
}

.btn:hover {
  border-color: rgba(181, 110, 34, 255);
  border-width: 1px;
  color: lightgray;
  background-color: rgba(43, 43, 43, 255);
  transition: 500ms;
}

.stats {
  color: lightgray;
  text-decoration: none;
  font-size: x-small;
}

@media only screen and (max-width: 760px) {
  body {
    display: flex;
    flex-direction: column;
  }

  #profileImage {
    vertical-align: middle;
    width: 15vw;
    height: 15vw;
    border-radius: 100%;
  }

  #profileBtn {
    padding: 0vw 4vw;
  }
}

@media only screen and (min-width: 760px) {
  #profileImage {
    width: 5vw;
    height: 5vw;
    border-radius: 100%;
  }
  #profileBtn {
    padding: 0vw 4vw;
    width: 6vw;
  }
}
