*, h1 {
  color: lightgrey;
}

a {
  font-weight: bold;
  color: lightgrey;
  text-decoration: none;
}

body {
  background-color: rgba(43, 43, 43, 255);
}

html {
  background-color: rgba(43, 43, 43, 255);
  width: 100%;
}

li {
  height: 20vw;
  border-color: lightgrey;
}

@media only screen and (max-width: 760px) {
  header img {
    width: 30%;
  }
}

code {
  background-color: lightgray;
  color: black;
}

main {
  background-color: rgb(43, 43, 43);
}

.btn {
  background-color: rgb(181, 110, 34);
  border-color: lightgray;
  color: lightgray;
}

.btn:hover {
  border-color: rgb(181, 110, 34);
  color: lightgray;
}

img {
  object-fit: contain;
  align-self: self-start;
}

@media only screen and (min-width: 760px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 4vw; */
  }

  header {
    width: 50%;
  }

  header img {
    width: 44vw;
  }

  .btn {
    width: 30vw;
  }
}
