#profileImage {
    width: 8vw;
    border-radius: 100%;
}

.textContainer {
    display: flex;
    justify-content: space-between;
}

#text {
    background-color: rgb(43, 43, 43);
}

#text:focus {
    outline-color: rgba(181, 110, 34, 255);
}
